/*--------------------------------------------------------------
# Produks
--------------------------------------------------------------*/
.produk {
  padding: 40px;
}

@media (max-width: 992px) {
  .produk {
    padding: 0px;
  }
}

.produk .nav-pills {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}
.produk .nav-pills li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 5px 10px 5px;
  font-size: 14px;
  font-weight: 550;
  line-height: 1;
  color: #090909;
  margin: 0 4px 8px 4px;
  transition: 0.3s;
}
.produk .nav-link {
  background: none;
  font-size: 15px;
  font-weight: 600;
  color: #090909;
  padding: 12px 14px;
  margin-right: 6px;
  margin-bottom: -2px;
  border-radius: 0;
}
.produk .nav-link:hover,
.produk .nav-link.active {
  color: #090909;
  border-bottom: 3px solid #ff9800;
  background: #ffffff;
  transition: 0.1s;
}

.produk .card-produk {
  background: linear-gradient(341.78deg, #ffe7c5 0%, #7cdcf0 100%);
  border-radius: 12px;
  padding: 17px;
}
.produk .card-produk:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.produk .card-produk .deskripsi-produk {
  padding: 12px;
  background: #ffffff;
  border-radius: 12px;
}
.produk .card-produk .deskripsi-produk .name-produk {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
}
.produk .card-produk .deskripsi-produk .detail-produk {
  color: #565656;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}
.produk .card-produk .deskripsi-produk .price-produk {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 12px;
  margin-top: 16px;
}
.produk .card-produk .deskripsi-produk .btn-call-me {
  padding: 8px;
  background: #ff9800;
  border: 1px solid #ff9800;
  border-radius: 12px;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}
.produk .card-produk .deskripsi-produk .btn-call-me:hover {
  background: #f6f9ff;
  box-shadow: 0px 0px 12px rgba(39, 38, 38, 0.25);
  transition: 0.3s;
}

.produk .card-produk .fitur-produk {
  margin-top: 17px;
  padding: 12px;
  background: #ffffff;
  border-radius: 12px;
}

.produk .card-produk .fitur-produk .accordion-collapse {
  border: 0;
}
.produk .card-produk .fitur-produk .accordion-button {
  padding: 4px;
  font-weight: 500;
  border: 0;
  font-size: 18px;
  color: #000000;
  text-align: left;
}
.produk .card-produk .fitur-produk .accordion-button:focus {
  box-shadow: none;
}
.produk .card-produk .fitur-produk .accordion-button:not(.collapsed) {
  background: none;
  color: #000000;
  border-bottom: 0px;
}
.produk .card-produk .fitur-produk .accordion-body {
  padding: 14px 4px 4px 4px;
  border: 0;
}
.produk .card-produk .fitur-produk .accordion-body .detail-fitur {
  margin: 2px 0px 2px 0px;
  color: #000000;
}

/* Produk Promo  */
.produk-promo {
  padding: 40px;
}
.produk-promo .title {
  font-style: normal;
  color: #000000;
  font-weight: 800;
  font-size: 40px;
  line-height: 72px;
}
.produk-promo .deskripsi {
  font-style: italic;
  font-weight: 550;
  font-size: 28px;
  line-height: 32px;
  color: #565656;
}
.produk-promo .card-promo {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
  overflow: hidden;
  text-align: center;
  border-radius: 12px;
  background: #fff;
  transition: 0.3s;
}
.produk-promo .card-promo .promo-img {
  position: relative;
  overflow: hidden;
}
