/*--------------------------------------------------------------
# testimoni
--------------------------------------------------------------*/
.testimoni {
  padding: 40px;
}

@media (max-width: 992px) {
  .testimoni {
    padding: 15px;
  }
}

.testimoni .card-testimoni {
  transition: 0.3s;
  height: 100%;
  padding: 12px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f0f3ff;
}
.testimoni .card-testimoni:hover {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
.testimoni .card-testimoni .testimoni-img {
  border-radius: 12px;
  background: #ffffff;
  height: 235px;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.testimoni .card-testimoni .testimoni-img img {
  transition: 0.5s;
  max-height: 195px;
  margin: auto;
}
.testimoni .card-testimoni .testimoni-img .emblem {
  position: absolute;
  top: -8px;
  right: 24px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ff9800;
  content: url(../img/emblem.png);
  padding: 7px;
}
.testimoni .card-testimoni .testimoni-title {
  margin-top: 18px;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 8px;
  position: relative;
  transition: 0.3s;
}
.testimoni .card-testimoni .testimoni-category {
  font-size: 16px;
  font-weight: 600;
  color: #393939;
  display: block;
  margin-bottom: 8px;
}
.testimoni .card-testimoni .testimoni-deskripsi {
  font-size: 14px;
  color: #393939;
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 19px;
  transition: 0.3s;
}
.testimoni .card-testimoni:hover .testimoni-img img {
  transform: rotate(6deg) scale(1.1);
}
